a {
    font-size: 30px;
    color: green;
    display: block;
    font-family: 'Sen', sans-serif;
}

a:hover {
    color:lime;
    text-decoration: none;
}

img:hover {
    width: 400px;
    margin: 0;
}
img {
    width: 300px;
    margin: 30px;
}